<div class="container" style="height:15%;" >
   <h4 style="color:white">{{email}}</h4> &nbsp;&nbsp;
    <span>
      <img style="border-radius: 50%;height: 55px" src={{image}}>
    </span>
  <button class="btn btn-primary btn-xs pull-right" data-title="add" (click)="logout()">logout </button>
</div>

<!-- <router-outlet ></router-outlet> -->


<main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
    <router-outlet #o="outlet" class="childroute" ></router-outlet>
  </main>
  