<div class="container">
        <button class="btn btn-primary btn-xs" data-title="add"  routerLink="login"  >Back to Login </button>
  <h3 style="text-align: center;color: darkolivegreen">{{message}}</h3>
  <div class="card card-container">
       
      
      <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <p id="profile-name" class="profile-name-card"></p>

      <span id="reauth-email" class="reauth-email"></span>
      <form>
          <input type="email" pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" title="Invalid Email Format"
              id="inputEmail" class="form-control" placeholder="Email address" name="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"
              autofocus required><br/>

          
          <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="changePassword()" [disabled]="(!!email == false ) ">Change password</button>
      </form>

    
    
     
  </div>

</div>

